Week 1 - Linear And Logistic Regression/Kaggle_Housing_Data.csv
.DS_Store
Week 2 - Feed Forward Nueral Networks/.ipynb_checkpoints/Module 2 - Feed Forward Neural Networks-checkpoint.ipynb
Week 4 - Word Embeddings/.ipynb_checkpoints/Module 4 - Word Embeddings And Natural Language Processing-checkpoint.ipynb
Week 3 - Backpropagation/.ipynb_checkpoints/Module 3 - Back Propagation And Neural Networks-checkpoint.ipynb
